<ion-header>
  <ion-toolbar color="blue3">
    <ion-title>Filter by</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark" class="ion-padding">
  
  <!-- <ion-card > -->
    <form *ngIf="!aaaaa" [formGroup]="filterGroup" (ngSubmit)="filter($event)">
      <div class="mycard">
      <ion-list  class="ion-margin-top">
  
        <ion-item >
          <ion-label color="light" position="floating">Device Type</ion-label>
          <!-- <ion-label>Device Type</ion-label> -->
              <ion-select color="light" formControlName="device_type" name="device_type" okText="Okay" cancelText="Dismiss">
                <ion-select-option *ngFor="let a of deviceType.deviceTypes" value="{{a.value}}">{{a.key}}</ion-select-option>
  
              </ion-select>
          <!-- <mat-form-field class="example-full-width" appearance="fill">
  
            <input type="text" matInput formControlName="device_type" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let name of deviceType.deviceTypes | async" [value]="name.value">
                {{name.key}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field> -->
        </ion-item>
        <ion-item  lines="none">
          <!-- <ion-label color="light" position="floating">Location</ion-label> -->
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Loc</mat-label>
          <!-- <ion-label color="light" position="floating">Location</ion-label> -->

            <input type="text" matInput formControlName="loc" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let name of citiesOpt | async" [value]="name">
                {{name}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
  
        </ion-item>
        <ion-item>
          <mat-form-field class="example-form-field" appearance="fill">
            <mat-label>Choose Date range</mat-label>
            <mat-date-range-input
              [rangePicker]="campaignOnePicker">
              <input matStartDate placeholder="Start date" formControlName="start_date">
              <input matEndDate placeholder="End date" formControlName="end_date">
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="campaignOnePicker"></mat-datepicker-toggle>
            <mat-date-range-picker #campaignOnePicker></mat-date-range-picker>
          </mat-form-field>
          <!-- <mat-form-field appearance="fill">
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field> -->
          <!-- <ion-button fill="outline" color="light" id="open-modal">Start Date

            <ion-icon name="calendar-outline"></ion-icon>
          </ion-button>
  
          <ion-modal trigger="open-modal">
            <ng-template>
              <ion-content>
                <ion-datetime formControlName="start_date"></ion-datetime>
              </ion-content>
            </ng-template>
          </ion-modal> -->
          
        </ion-item>
        <!-- <ion-item>
          <ion-button fill="outline" color="light" id="open-modal2">
            End Date
            <ion-icon name="calendar-outline"></ion-icon>
            </ion-button>
  
          <ion-modal trigger="open-modal2">
            <ng-template>
              <ion-content>
                <ion-datetime  formControlName="end_date"></ion-datetime>
              </ion-content>
            </ng-template>
          </ion-modal>
          
        </ion-item> -->
  
  
  
      </ion-list>

      <div class="1src-footer">
        <ion-list>
          <ion-item lines="none">
            <ion-button  type="submit" color="success" size="medium">
              <ion-icon name="search-outline"></ion-icon>
              <!-- Search -->
            </ion-button>
    
            <ion-button (click)="close()" type="submit" color="medium" size="medium">
              <ion-icon name="return-down-back-outline"></ion-icon>
              <!-- Cancel -->
            </ion-button>
          </ion-item>
        </ion-list>
      </div>
    </div>

  
    </form>


</ion-content>
