/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';

$bgcolor:#bbccdd;


:root {
	--ion-color-mybg:linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
	--ion-color-mybg-rgb: 187,204,221;
	--ion-color-mybg-contrast: #000000;
	--ion-color-mybg-contrast-rgb: 0,0,0;
	--ion-color-mybg-shade: #a5b4c2;
	--ion-color-mybg-tint: #c2d1e0;
}

.ion-color-mybg {
	--ion-color-base: var(--ion-color-mybg);
	--ion-color-base-rgb: var(--ion-color-mybg-rgb);
	--ion-color-contrast: var(--ion-color-mybg-contrast);
	--ion-color-contrast-rgb: var(--ion-color-mybg-contrast-rgb);
	--ion-color-shade: var(--ion-color-mybg-shade);
	--ion-color-tint: var(--ion-color-mybg-tint);
}
:root {
	--ion-color-myblue: #cceeff;
	--ion-color-myblue-rgb: 204,238,255;
	--ion-color-myblue-contrast: #000000;
	--ion-color-myblue-contrast-rgb: 0,0,0;
	--ion-color-myblue-shade: #b4d1e0;
	--ion-color-myblue-tint: #d1f0ff;
}

.ion-color-myblue {
	--ion-color-base: var(--ion-color-myblue);
	--ion-color-base-rgb: var(--ion-color-myblue-rgb);
	--ion-color-contrast: var(--ion-color-myblue-contrast);
	--ion-color-contrast-rgb: var(--ion-color-myblue-contrast-rgb);
	--ion-color-shade: var(--ion-color-myblue-shade);
	--ion-color-tint: var(--ion-color-myblue-tint);
}

:root {
	--ion-color-blue2: #50ccd7;
	--ion-color-blue2-rgb: 80,204,215;
	--ion-color-blue2-contrast: #000000;
	--ion-color-blue2-contrast-rgb: 0,0,0;
	--ion-color-blue2-shade: #46b4bd;
	--ion-color-blue2-tint: #62d1db;
}

.ion-color-blue2 {
	--ion-color-base: var(--ion-color-blue2);
	--ion-color-base-rgb: var(--ion-color-blue2-rgb);
	--ion-color-contrast: var(--ion-color-blue2-contrast);
	--ion-color-contrast-rgb: var(--ion-color-blue2-contrast-rgb);
	--ion-color-shade: var(--ion-color-blue2-shade);
	--ion-color-tint: var(--ion-color-blue2-tint);
}

:root {
	--ion-color-blue3: #e99c05;
	--ion-color-blue3-rgb: 94,193,212;
	--ion-color-blue3-contrast: #000000;
	--ion-color-blue3-contrast-rgb: 0,0,0;
	--ion-color-blue3-shade: #53aabb;
	--ion-color-blue3-tint: #6ec7d8;
}

.ion-color-blue3 {
	--ion-color-base: var(--ion-color-blue3);
	--ion-color-base-rgb: var(--ion-color-blue3-rgb);
	--ion-color-contrast: var(--ion-color-blue3-contrast);
	--ion-color-contrast-rgb: var(--ion-color-blue3-contrast-rgb);
	--ion-color-shade: var(--ion-color-blue3-shade);
	--ion-color-tint: var(--ion-color-blue3-tint);
}
:root {
	--ion-color-ablue: #F0F8FF;
	--ion-color-ablue-rgb: 240,248,255;
	--ion-color-ablue-contrast: #000000;
	--ion-color-ablue-contrast-rgb: 0,0,0;
	--ion-color-ablue-shade: #d3dae0;
	--ion-color-ablue-tint: #f2f9ff;
}

.ion-color-ablue {
	--ion-color-base: var(--ion-color-ablue);
	--ion-color-base-rgb: var(--ion-color-ablue-rgb);
	--ion-color-contrast: var(--ion-color-ablue-contrast);
	--ion-color-contrast-rgb: var(--ion-color-ablue-contrast-rgb);
	--ion-color-shade: var(--ion-color-ablue-shade);
	--ion-color-tint: var(--ion-color-ablue-tint);
}