
#wrapper {
    display: flex;
    // flex-direction:column;
    position: relative;
    // height: 100%;
    border:1px dodgerblue dotted;
    background-color: #F0F8FF;
    border-radius: 4px;
    .imgdiv{
    border:none;
    position: absolute;
    right: 10px;
    top: -10px;    display: flex;
    z-index: 10;
    // background-color: #F0F8FF;
    background: transparent !important;
            
    
    height:50px;
    text-transform: uppercase;
        ion-img{
            max-height: 50px;
            height: 50px;
        }
        
    }

    form{
        width: 100%;
    }
    ion-list{
        --ion-background-color:#F0F8FF !important;
    }
}


